*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #dccaad;
}

.container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
}

.navbar{
    padding: 40px;
    grid-column: 1/11;
    background-color: #000000;
    font-weight: bold;

    #menu{
        display: none;
    }

    ul{
        list-style-type: none;
        display: flex;
        float: right;
        font-size: 40px;
    }

    #logo{
        font-size: 43px;
        float: left;
        transition: ease-in-out 0.8s;
    }

    li{
        padding-inline: 30px;
    };

    a{
        text-decoration: none;
        color: white;
    }

}

.link-section{
    grid-column: 1/11;
    padding: 130px 0px 0px 0px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        text-align: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
      
    li {
        display: inline-block;
        padding: 20px;
    } 
    
    .fb{
        width: 200px;
    }
    .git{
        width: 220px;
    }
    .gmail{
        padding: 40px 0px 0px 0px;
        width: 160px;
    }

}

@media screen and (max-width: 1280px){
    
    .navbar{
        ul{
            font-size: 30px;
        }

        li{
            padding-inline: 20px;
        }

        #logo{
            font-size: 38px;
        }
    }

    .link-section{
        padding: 110px 0px 170px 80px;
        ul{
            font-size: 20px;
        }
        .fb{
            width: 120px;
        }
        .git{
            width: 140px;
        }
        .gmail{
            width: 80px;
        }
    }
}

@media screen and (max-width: 1250px){
    
    .navbar{
        ul{
            font-size: 30px;
        }

        li{
            padding-inline: 20px;
        }

        #logo{
            font-size: 38px;
        }
    }

    .link-section{
        padding: 110px 0px 170px 80px;
        ul{
            font-size: 18px;
        }
        .fb{
            width: 120px;
        }
        .git{
            width: 140px;
        }
        .gmail{
            width: 80px;
        }
    }
}

@media screen and (max-width: 1100px){
    
    .navbar{
        ul{
            font-size: 28px;
        }

        li{
            padding-inline: 13px;
        }

        #logo{
            font-size: 35px;
        }
    }

    .link-section{
        padding: 110px 0px 170px 60px;
        ul{
            font-size: 18px;
        }
        .fb{
            width: 120px;
        }
        .git{
            width: 140px;
        }
        .gmail{
            width: 80px;
        }
    }
}

@media screen and (max-width: 1000px){
    
    .navbar{
        ul{
            font-size: 25px;
        }

        li{
            padding-inline: 10px;
        }

        #logo{
            font-size: 30px;
        }
    }

    .link-section{
        padding: 130px 0px 170px 80px;
        ul{
            font-size: 18px;
        }
        .fb{
            width: 120px;
        }
        .git{
            width: 140px;
        }
        .gmail{
            width: 80px;
        }
    }

}

@media screen and (max-width: 860px){
    
    .navbar{
        #logo{
            font-size: 30px;
        }
    }

    .link-section{
        grid-column: 1/11;
        padding: 130px 0px 0px 0px;
        ul{
            font-size: 16px;
        }
        .fb{
            width: 120px;
        }
        .git{
            width: 140px;
        }
        .gmail{
            width: 80px;
        }
    }
}

@media screen and (max-width: 800px){
    
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #dccaad;
        position: absolute;
        top: 20px;
        right: 75px;
        border-radius: 5px;
        padding: 10px;
    }

    .nav-links.show {
        display: flex;
        font-size: 20px;
    }

    .navbar{
        ul{
            display: none;
        }

        #menu{
            display: block;
            color: white;
            float: right;
            font-size: 30px;
        }

        #logo{
            font-size: 30px;
        }
    }

    .link-section{
        padding: 130px 0px 0px 0px;
        ul{
            font-size: 16px;
        }
        .fb{
            width: 120px;
        }
        .git{
            width: 140px;
        }
        .gmail{
            width: 80px;
        }
    }
}

@media screen and (max-width: 620px){
    
    .nav-links{
        top: 25px
    }

    .nav-links.show {
        font-size: 15px;
    }

    .navbar{
        #logo{
            font-size: 30px;
        }
    }

}

@media screen and (max-width: 550px){
    
    .navbar{
        #logo{
            font-size: 28px;
        }

        #menu{
            font-size: 25px;
        }
    }

    .link-section{
        ul{
            font-size: 15px;
        }
        .fb{
            width: 110px;
        }
        .git{
            width: 130px;
        }
        .gmail{
            width: 70px;
        }
    }
}

@media screen and (max-width: 450px){

    .nav-links{
        top: 25px;
    }

    .nav-links.show {
        font-size: 14px;
    }

    .img-section{
    img{
        width: 50%;
    }
    }

    .link-section{
        ul{
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 410px){
    
    .nav-links{
        right: 65px;
        padding: 5px;
    }
    
    .link-section{
        ul{
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 380px){
    
    .nav-links{
        right: 60px;
    }
    
    .navbar{
        #menu{
            font-size: 18px;
        }

        #logo{
            font-size: 23px;
        }
    }
    
    .link-section{
        ul{
            font-size: 13px;
        }
        .fb{
            width: 105px;
        }
        .git{
            width: 125px;
        }
        .gmail{
            width: 65px;
        }
    }
}

@media screen and (max-width: 340px){
    .navbar{
        #menu{
            font-size: 15px;
        }

        #logo{
            font-size: 18px;
        }
    }
    

    .link-section{
        ul{
            font-size: 12px;
        }
    }
}